body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
    width: 100%;
    overflow-wrap: break-word;
}
.content{
    width: 300px;
}
.top-bar {
    background-color: #87ceeb;
    padding: 0 40px;
}
.main {
    background-color: #F6F6EF;
    padding: 10px 15px;
}
.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}
#proposal_arg {
    width: 40%;
    height: 80px;
    display: block;
    margin-top: 0px;
}
#proposal {
    background-color: #F6F6EF;
    padding: 10px 40px;
    /* display: block; */
}
#add_button {
    margin-top: 5px;
}

#decision_buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#results{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.most_popular_proposal{
    width: auto;
    height: auto;
    margin-left: 10px;
    background-color: #87ceeb;
    padding: 10px 50px 10px 50px;
    border-radius: 1em;
    /* border: .25em solid transparent; */
}
.left {
  float: left;
}
  
.right {
  float: right;
}
.full_width{
    /* width: 100%; */
    overflow:auto;
}